@import "./assets/css/reset.scss";
@import  "./assets/css/fonts.scss";
@import "./assets/css/header.scss";
@import "./assets/css/characters.scss";
@import "./assets/css/character.scss";
// @import "./assets/css/effet.scss";
* {
    font-family: 'Marvel','Arial Narrow', Arial, sans-serif;;
    font-size: 1.3rem;
    box-sizing: border-box;
    text-decoration:none;
}

